<div class="card my-4 m-auto" style="width: 18rem;">

    <div class="card-header">
        <h5 class="card-title"> <%= ct %> </h5>
    </div>

    <div class="card-body">
        <p class="card-text"> <%= cd %> </p>
        <a href="#" class="btn btn-primary"> <%= cb %> </a>
    </div>
</div>